<ion-header>
  <ion-toolbar>
    <ion-title>orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let x of orders">
      
            <img style="width: 20%; max-width:150px;"[src]="x.pic">
         
          <ion-label>
            <h2>{{x.description}}</h2>
            <h3>R{{x.price}}</h3>
            <p>Number of sugars: {{x.sugarQuantity}}</p>
            <p>Milk: {{x.milkBoolean}}</p>
            <p>Total price: {{x.totalPrice}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
  <ion-button expand="full" color="secondary" routerLink="/home">Home</ion-button>
</ion-content>
